<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <div>
            <h1>Página principal</h1>
            <h3>En esta pagina hacemos una breve introducción del trabajo que hemos realizado.</h3>
            
        </div>
        <div>
            <p style="margin-bottom: -10px;">Es común que al caminar por la calle nos haya llamado la atención algún edificio
                con formas y curvas aparentemente peculiares, sin embargo, pocos nos detenemos
                a pensar en la complejidad geométrica y matemática que hay detrás de su diseño y
                construcción. <i>La arquitectura</i>, requiere del uso de las <i>matemáticas</i> para poder
                construir estas estructuras complejas. En particular, las superficies curvas,
                aparentemente imposibles de construir, son posibles gracias al uso de herramientas
                matemáticas como las cónicas y cuádricas del álgebra lineal, que permiten modelar
                y construir estructuras de gran complejidad.</p><br>
            <p style="margin-bottom: -10px;"><i>La arquitectura</i> es una disciplina que combina ciertos campos como la ciencia, el
                arte o la tecnología, entre otros. Desde las grandes pirámides de Egipto hasta la
                Torre Eiffel, la arquitectura ha ido evolucionando a lo largo del tiempo y ha sido
                moldeada por diversas corrientes y estilos.</p><br>
            <p style="margin-bottom: -10px;">Las cónicas y cuádricas son curvas y superficies que se pueden describir mediante
                ecuaciones algebraicas. En la arquitectura, estas se usan para diseñar formas
                complejas y dar forma a los espacios. Las cónicas, que incluyen la elipse, la
                parábola y la hipérbola, se utilizan para modelar la forma de elementos
                arquitectónicos como arcos, cúpulas o bóvedas. Por otro lado, las cuádricas, que
                incluyen el elipsoide, el paraboloide y el hiperboloide, se utilizan para el diseño de
                estructuras tridimensionales como torres, puentes o rascacielos.</p><br>
            <p style="margin-bottom: -10px;">La utilización de las cuádricas y cónicas se remonta a la antigüedad. Desde los
                coliseos y teatros, hasta la actualidad, donde se utilizan en la construcción de
                grandes estructuras como estadios deportivos. Han permitido, a los arquitectos,
                diseñar estructuras y edificios que son tan estéticos como funcionales, y, al mismo
                tiempo, muy seguras.</p><br>
            <p>En este informe, queremos explorar la importancia de las cónicas y cuádricas en la
                arquitectura, y cómo estas herramientas matemáticas son aplicadas en algunos de
                los edificios y estructuras más icónicas del mundo. A través de ejemplos de
                arquitectura moderna, demostraremos cómo las cónicas y cuádricas son
                fundamentales en el diseño y construcción de estructuras complejas, permitiendo la
                creación de superficies curvas y orgánicas que anteriormente eran consideradas
                imposibles de construir.</p>
            
        </div>
        
        <img src="..\images\foto1.jpg"><br>
        <img src="..\images\foto2.jpg"><br>
        <div> 
            <h4>Ahora vamos a poner el link a la página donde podremos ver como se grafican las formas cuadraticas que introduzcamos para luego ver un ejemplo en otra pagina de como se aplican a la arquitectura.</h4>
            <a href="./conicas.html"><button style="background-color: rgb(0, 0, 0); color: white;">Intoduce aqui tu cónica</button></a>
        </div>
        
    </body>
    <footer style="background-color: #ffffff; color: #3f3e3e; font-family: Arial; font-size: 14px;">
        <p style="margin-bottom: -5px;">Colaboradores:</p>
        <img src="..\images\logo.jpg" style="float:right;" width="200"><br>
        <ul>
          <li>Lucía Mielgo</li>
          <li>Enrique Pardo</li>
          <li>Alejandro Martínez</li>
          <li>Ignacio Sánchez</li>
        </ul>
        

      </footer>
      
</html>

