<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" href="../files/styles.css">
        <title>Blog de Álgebra lineal</title>
        
    </head>
    <body>
        <header>
            <a href="./index.html" class="logo">
                <img src="../images/logo.jpg" alt="logo de la universidad">
                <h3 class="trabajo grupal">Trabajo algebra lineal</h3>
            </a>
            <nav>
                <a href="./index.html" class="nav-link">Inicio</a>
                <a href="./conicas.html" class="nav-link">Cónicas</a>
                <a href="https://colab.research.google.com/drive/1lwbUH_3CcBVGvSDptOL8GaRH66FMTYI5?hl=es" class="nav-link" target="_blanck">Google colabs</a>
            </nav>
        </header>
        
          
        <script>
            window.onscroll = function() {scrollFunction()};

            function scrollFunction() {
            if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                document.getElementById("navbar").style.display = "none";
            } else {
                document.getElementById("navbar").style.display = "block";
            }
            }
        </script>
        <div class="container">
            <h1>Blog de Arquitectura</h1>
            <h3>Explorando la relación entre el álgebra lineal y la arquitectura</h3>
        </div>
        <div class="container">
            <p>Es común que al caminar por la calle nos haya llamado la atención algún edificio
            con formas y curvas aparentemente peculiares, sin embargo, pocos nos detenemos
            a pensar en la complejidad geométrica y matemática que hay detrás de su diseño y
            construcción. <b><i>La arquitectura</i></b>, requiere del uso de las <b><i>matemáticas</i></b> para poder
            construir estas estructuras complejas. En particular, las superficies curvas,
            aparentemente imposibles de construir, son posibles gracias al uso de herramientas
            matemáticas como las cónicas y cuádricas del álgebra lineal, que permiten modelar
            y construir estructuras de gran complejidad.</p>
            <p>La arquitectura es una disciplina que combina ciertos campos como la ciencia, el
            arte o la tecnología, entre otros. Desde las grandes pirámides de Egipto hasta la
            Torre Eiffel, la arquitectura ha ido evolucionando a lo largo del tiempo y ha sido
            moldeada por diversas corrientes y estilos.</p>
            <p>Las cónicas y cuádricas son curvas y superficies que se pueden describir mediante
            ecuaciones algebraicas. En la arquitectura, estas se usan para diseñar formas
            complejas y dar forma a los espacios. Las cónicas, que incluyen la elipse, la
            parábola y la hipérbola, se utilizan para modelar la forma de elementos
            arquitectónicos como arcos, cúpulas o bóvedas. Por otro lado, las cuádricas, que
            incluyen el elipsoide, el paraboloide y el hiperboloide, se utilizan para el diseño de
            estructuras tridimensionales como torres, puentes o rascacielos.</p>
            <p>La utilización de las cuádricas y cónicas se remonta a la antigüedad. Desde los
            coliseos y teatros, hasta la actualidad, donde se utilizan en la construcción de
            grandes estructuras como estadios deportivos. Han permitido a los arquitectos
            diseñar estructuras y edificios que son tan estéticos como funcionales, y al mismo
            tiempo, muy seguros.</p>
            <p>En este blog, exploraremos la importancia de las cónicas y cuádricas en la
            arquitectura y cómo estas herramientas matemáticas se aplican en algunos de los
            edificios y estructuras más icónicas del mundo. A través de ejemplos de
            arquitectura moderna, demostraremos cómo las cónicas y cuádricas son
            fundamentales en el diseño y construcción de estructuras complejas, permitiendo la
            creación de superficies curvas y orgánicas que anteriormente eran consideradas
            imposibles de construir.</p>
        </div>
        <div class="container">
            <img src="../images/foto1.jpg">
            <br>
            <img src="../images/foto2.jpg">
            <br>
        </div>
        <footer>
            <p>Colaboradores:</p>
            <ul>
            <li>Lucía Mielgo</li>
            <li>Enrique Pardo</li>
            <li>Alejandro Martínez</li>
            <li>Ignacio Sánchez</li>
            </ul>
            <img src="../images/logo.jpg" width="200">
        </footer>
    </body>
</html>



