<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="stylesheet" href="../files/styles.css">
      <title>Conicas</title>
  </head>
<body>
   <header>
      <a href="./index.html" class="logo">
          <img src="../images/logo.jpg" alt="logo de la universidad">
          <h3 class="trabajo grupal">Trabajo algebra lineal</h3>
      </a>
      <nav>
          <a href="./index.html" class="nav-link">Inicio</a>
          <a href="./conicas.html" class="nav-link">Cónicas</a>
          
          
      </nav>
  </header>
  <script>
      window.onscroll = function() {scrollFunction()};

      function scrollFunction() {
          if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
              document.getElementById("navbar").style.display = "none";
          } else {
              document.getElementById("navbar").style.display = "block";
          }
      }
  </script>
  <div class="Intro">
    <h4></h4>
      <ul> 
         <li>1.- Introducción</li>
         <li>2.- Cónicas y cuádricas</li>
               <li>2.1.- Definición y características</li>
               <li>2.2.- Tipos de cónicas y cuádricas</li>
         <li>3.- Representación de formas y curvas en la arquitectura</li>
            <li>3.1.- Modelado de superficies curvas</li>
         <li>4.- Ejemplos de aplicaciones en edificios emblemáticos</li>
            <li>4.1.- Ejemplo 1: [Nombre del edificio]</li>
            <li>4.2.- Ejemplo 2: [Nombre del edificio]</li>
         <li>5.- Conclusiones</li> 
         <li>6.- Referencias bibliográficas </li>
      </ul>
  </div>
  <div>

  </div>
</body>
</html>
